@model IEnumerable<DocumentManagement.Models.DocumentModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    h1{
        padding:50px 0 30px  0;
    }
    .createButton{
        padding:  10px 20px 10px 20px;
        border: none;
        cursor:pointer;
        background-color: var(--purpleMain);
        color:#DADDDF;
        font-size:20px;
    }

    .createButton:hover{
        background-color:var(--purpleSecond);
        color:white;
        transition:1s;
    }
    .table{
        margin-top:50px;
    }
    .table td{
        color:var(--purpleSecond);
    }

     .table th{
        color:var(--purpleMain);
        font-size:24px;
    }
</style>

<h1>My documents</h1><br />

<p>
    <a class="createButton" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Process)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Process.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                <label>File</label>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Process.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Process.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                <a href="@item.FileUrl" target="_blank">Download</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
